In [6]:
import pandas as pd
import numpy as np

# Load the DataFrame from the "cleaned_imdb_data.tsv" file
cleaned_df = pd.read_csv("IMDB_data_TSVs/cleaned_imdb_data.tsv", sep='\t')

# Replace '\N' with NaN in the 'genres' column
cleaned_df['genres'] = cleaned_df['genres'].replace('\\N', np.nan)

# Drop rows with missing values in the 'genres' column
cleaned_df = cleaned_df.dropna(subset=['genres'])

# Print the number of rows after dropping missing values
print("Number of rows after dropping missing values in the 'genres' column:", len(cleaned_df))

Number of rows after dropping missing values in the 'genres' column: 78745

In [8]:
cleaned_df

,tconst,titleType,originalTitle,isAdult,startYear,runtimeMinutes,genres,language,nconst,category,characters,averageRating,numVotes,primaryName,knownForTitles
0,tt0060526,movie,Huyendo del halcón,0,1973.0,103,Adventure,en,nm0409869,actor,\N,4.6,12.0,John Ireland,"tt0041113,tt0040724,tt0054331,tt0038762"
1,tt0060526,movie,Huyendo del halcón,0,1973.0,103,Adventure,en,nm0564223,actress,\N,4.6,12.0,Diane McBain,"tt0061015,tt0062365,tt0222850,tt0057765"
2,tt0060526,movie,Huyendo del halcón,0,1973.0,103,Adventure,en,nm0529890,actor,\N,4.6,12.0,Ricardo Palacios,"tt0084326,tt0373483,tt0062269,tt0094397"
3,tt0060526,movie,Huyendo del halcón,0,1973.0,103,Adventure,en,nm0845141,actor,\N,4.6,12.0,Pedro Mari Sánchez,"tt0056037,tt0415421,tt0451591,tt0451590"
4,tt0060526,movie,Huyendo del halcón,0,1973.0,103,Adventure,en,nm0057342,actor,\N,4.6,12.0,Barta Barri,"tt0068713,tt0069229,tt0067016,tt0054696"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85168,tt9892180,movie,Karigar,0,2012.0,95,Drama,en,nm1194086,actor,\N,NaN,NaN,Jayanto Chattopadhyay,"tt1542501,tt14631866,tt7063068,tt2022522"
85169,tt9892180,movie,Karigar,0,2012.0,95,Drama,en,nm1196037,actress,\N,NaN,NaN,Rokeya Prachy,"tt5321154,tt4257084,tt31464877,tt12386566"
85170,tt9892180,movie,Karigar,0,2012.0,95,Drama,en,nm0765272,actress,\N,NaN,NaN,Rani Sarkar,"tt1542501,tt12747736,tt5326064,tt5806374"
85171,tt9892180,movie,Karigar,0,2012.0,95,Drama,en,nm10527671,director,\N,NaN,NaN,Anwar Shahadat,"tt9892180,tt14404070"
85172,tt9896102,movie,"Take Pains, Be Perfect",0,2020.0,\N,Documentary,en,nm6115105,director,\N,NaN,NaN,Kristi Frazier,"tt9896102,tt16951976,tt30982937,tt3222924"

In [9]:
# Save the updated DataFrame as "cleaned_imdb_data.tsv"
cleaned_df.to_csv("IMDB_data_TSVs/cleaned_imdb_data.tsv", sep='\t', index=False)